name: CI

on:
  pull_request:
  push:
    branches: [ "main", "master" ]

jobs:
  detekt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - uses: gradle/actions/setup-gradle@v3

      - name: Run Detekt
        run: ./gradlew detekt --no-daemon

  unit_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - uses: gradle/actions/setup-gradle@v3

      - name: Unit tests
        run: ./gradlew testDebugUnitTest --no-daemon